src/templates/pages/contacts.pug
extends ../layout/layoutInnerPage.pug

block content
    .main__wrapper

        section.main__content.content-contacts

            .content-contacts__map(id="ymap")
                .content-contacts__map-overlay

            .content-contacts__wrapper

                h1.title.title_h1 контакты - ООО “Эксперт-Сервис”

                .content-contacts__contacts

                    .content-contacts__contact.content-contacts__contact_director Директор:  Никита Ананьин

                    .content-contacts__contact.content-contacts__contact_phone Телефон:
                        a(href="tel:+79115624796").content-contacts__contact-link + 7 911 562 47 96;

                    .content-contacts__contact.content-contacts__contact_email email:
                        a(href="mailto:info@expert-service29.ru").content-contacts__contact-link info@expert-service29.ru

                    .content-contacts__contact.content-contacts__contact_address Адрес:  г. Архангельск, ул. Свободы, д.23

                    .content-contacts__contact ИНН 2901093220

                h1.title.title_h1 написать письмо

                .main-form

                    form().main-form__wrapper

                        .material-input(id="material-input-name")
                            input(id="name" type="text" required name="name")
                            label(for="name") От кого:

                        .material-textarea(id="material-textarea")
                            textarea(id="message" rows="1" name="question")
                            label(for="message") Текст письма:

                        button.button.button_feedback отправить


block append scripts
    script(defer src='/js/vendors~contacts~material-input.js?'  + date)
    script(defer src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")
    script(defer src='/js/contacts.js?'  + date)

public/contacts.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>Основа</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css?Fri Nov 29 2019 14:34:41 GMT+0300 (Moscow Standard Time)">
</head>

<body class="body">
    <header class="header">
        <div class="header__wrapper">
            <div class="header-langs header-langs_inner-page">
                <div class="header-langs__lang header-langs__lang_active">EN</div>
                <div class="header-langs__separator">/</div>
                <div class="header-langs__lang">RU</div>
            </div>
            <nav class="header-nav">
                <div class="header-nav__wrapper"><a class="logo" href="/">
                        <div class="logo__img"></div>
                    </a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/services.html">Услуги</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/team.html">Команда</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/projects.html">Проекты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__content content-contacts">
                <div class="content-contacts__map" id="ymap">
                    <div class="content-contacts__map-overlay"></div>
                </div>
                <div class="content-contacts__wrapper">
                    <h1 class="title title_h1">контакты - ООО “Эксперт-Сервис”</h1>
                    <div class="content-contacts__contacts">
                        <div class="content-contacts__contact content-contacts__contact_director">Директор: Никита Ананьин</div>
                        <div class="content-contacts__contact content-contacts__contact_phone">Телефон:<a class="content-contacts__contact-link" href="tel:+79115624796">+ 7 911 562 47 96;</a></div>
                        <div class="content-contacts__contact content-contacts__contact_email">email:<a class="content-contacts__contact-link" href="mailto:info@expert-service29.ru">info@expert-service29.ru</a></div>
                        <div class="content-contacts__contact content-contacts__contact_address">Адрес: г. Архангельск, ул. Свободы, д.23</div>
                        <div class="content-contacts__contact">ИНН 2901093220</div>
                    </div>
                    <h1 class="title title_h1">написать письмо</h1>
                    <div class="main-form">
                        <form class="main-form__wrapper">
                            <div class="material-input" id="material-input-name"><input id="name" type="text" required name="name"><label for="name">От кого:</label></div>
                            <div class="material-textarea" id="material-textarea"><textarea id="message" rows="1" name="question"></textarea><label for="message">Текст письма:</label></div><button class="button button_feedback">отправить</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <address class="footer__copyright">ООО «Эксперт-Сервис», 2000-2019</address>
        </div>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/common.js?Fri Nov 29 2019 14:34:41 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/vendors~polyfills.js?Fri Nov 29 2019 14:34:41 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/polyfills.js?Fri Nov 29 2019 14:34:41 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/main.js?Fri Nov 29 2019 14:34:41 GMT+0300 (Moscow Standard Time)"></script>
    <script defer src="/js/vendors~contacts~material-input.js?Fri Nov 29 2019 14:34:41 GMT+0300 (Moscow Standard Time)"></script>
    <script defer src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&amp;lang=ru_RU" type="text/javascript"></script>
    <script defer src="/js/contacts.js?Fri Nov 29 2019 14:34:41 GMT+0300 (Moscow Standard Time)"></script>
</body>

</html>
