src/templates/pages/projects.pug
extends ../layout/layoutInnerPage.pug

block content
    .main__wrapper

        section.main__content.content-projects

            h1.title.title_h1 проекты

            h3.title.title_red.
                Выполнение морских сейсмических работ 2D, 3D и обеспечение
                научно-исследовательских экспедиций

            .content-projects-items

                - for (let i = 0; i < 2; ++i)
                    .content-projects-item

                        .content-projects-item__title Предоставление судна «Капитан Шершнев»

                        .content-projects-item__slider

                            .content-projects-item__slider-wrapper

                                a(href="/team.html").content-projects-item__slide
                                    .content-projects-item__image

                                a(href="/team.html").content-projects-item__slide
                                    .content-projects-item__image

                                a(href="/team.html").content-projects-item__slide
                                    .content-projects-item__image

                            .content-projects-item__arrow(id="arrow-left")
                            .content-projects-item__arrow.content-projects-item__arrow_right(id="arrow-right")

                            .content-projects-item__dots-wrapper
                                .content-projects-item__dots
                                    .content-projects-item__dot
                                    .content-projects-item__dot
                                    .content-projects-item__dot

                .content-projects-item

                    .content-projects-item__title Предоставление судна «Капитан Шершнев»

                    .content-projects-item__block

                        .content-projects-item__block-wrapper

                            .content-projects-item__content

                                a(href="#").button.button_feedback подробнее

                            .content-projects-item__image

block append scripts
    script(defer src='/js/vendors~index~projects.js?' + date)
    script(src='/js/projects.js?' + date)

public/projects.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>Основа</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)">
</head>

<body class="body">
    <header class="header">
        <div class="header__wrapper">
            <div class="header-langs header-langs_inner-page">
                <div class="header-langs__lang header-langs__lang_active">EN</div>
                <div class="header-langs__separator">/</div>
                <div class="header-langs__lang">RU</div>
            </div>
            <nav class="header-nav">
                <div class="header-nav__wrapper"><a class="logo" href="/">
                        <div class="logo__img"></div>
                    </a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/services.html">Услуги</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/team.html">Команда</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/projects.html">Проекты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__content content-projects">
                <h1 class="title title_h1">проекты</h1>
                <h3 class="title title_red">Выполнение морских сейсмических работ 2D, 3D и обеспечение
                    научно-исследовательских экспедиций
                </h3>
                <div class="content-projects-items">
                    <div class="content-projects-item">
                        <div class="content-projects-item__title">Предоставление судна «Капитан Шершнев»</div>
                        <div class="content-projects-item__slider">
                            <div class="content-projects-item__slider-wrapper"><a class="content-projects-item__slide" href="/team.html">
                                    <div class="content-projects-item__image"></div>
                                </a><a class="content-projects-item__slide" href="/team.html">
                                    <div class="content-projects-item__image"></div>
                                </a><a class="content-projects-item__slide" href="/team.html">
                                    <div class="content-projects-item__image"></div>
                                </a></div>
                            <div class="content-projects-item__arrow" id="arrow-left"></div>
                            <div class="content-projects-item__arrow content-projects-item__arrow_right" id="arrow-right"></div>
                            <div class="content-projects-item__dots-wrapper">
                                <div class="content-projects-item__dots">
                                    <div class="content-projects-item__dot"></div>
                                    <div class="content-projects-item__dot"></div>
                                    <div class="content-projects-item__dot"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-projects-item">
                        <div class="content-projects-item__title">Предоставление судна «Капитан Шершнев»</div>
                        <div class="content-projects-item__slider">
                            <div class="content-projects-item__slider-wrapper"><a class="content-projects-item__slide" href="/team.html">
                                    <div class="content-projects-item__image"></div>
                                </a><a class="content-projects-item__slide" href="/team.html">
                                    <div class="content-projects-item__image"></div>
                                </a><a class="content-projects-item__slide" href="/team.html">
                                    <div class="content-projects-item__image"></div>
                                </a></div>
                            <div class="content-projects-item__arrow" id="arrow-left"></div>
                            <div class="content-projects-item__arrow content-projects-item__arrow_right" id="arrow-right"></div>
                            <div class="content-projects-item__dots-wrapper">
                                <div class="content-projects-item__dots">
                                    <div class="content-projects-item__dot"></div>
                                    <div class="content-projects-item__dot"></div>
                                    <div class="content-projects-item__dot"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-projects-item">
                        <div class="content-projects-item__title">Предоставление судна «Капитан Шершнев»</div>
                        <div class="content-projects-item__block">
                            <div class="content-projects-item__block-wrapper">
                                <div class="content-projects-item__content"><a class="button button_feedback" href="#">подробнее</a></div>
                                <div class="content-projects-item__image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <address class="footer__copyright">ООО «Эксперт-Сервис», 2000-2019</address>
        </div>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/common.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/vendors~polyfills.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/polyfills.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/main.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script defer src="/js/vendors~index~projects.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/projects.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
</body>

</html>
