src/templates/pages/services.pug
extends ../layout/layoutInnerPage.pug

block content
    .main__wrapper

        section.main__content.main-services

            h1.title.title_h1 наши Услуги

            .main-services__block

                ul
                    li Выполнение морских сейсмических работ 2D, 3D и обеспечение научно-исследовательских экспедиций
                    li Поиск затонувших объектов
                    li Выполнение подводных операций на глубинах до 300 м (водолазы, ROV/AUV аппараты)
                    li Управление флотом (коммерческая и техническая эксплуатации)
                    li Ремонт/модернизация судов, буровых платформ и гидротехнических сооружений
                    li Выполнение дноуглубительных работ

            .main-services__block

                ul
                    li Фрахтование судов
                    li Предоставление специализированного оборудования для выполнение морских операций и исследований
                    li Агентирование
                    li Комплексное снабжение флота
                    li Организация буксирного обеспечения с нуля в портах
                    li Буксировка судов и объектов
                    li Организация грузовых операций

            .main-services__block

                ul
                    li Консалтинг в сфере морского транспорта и нефтегазовой отрасли
                    li Брокерские услуги
                    li Аудит судов по стандартам IMCA, OCIMF, классификационного общества, технический аудит
                    li Обзор, идентификация и квалификация поставщиков


//- block append scripts
//- script(src='./js/another-js.js')

public/services.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>Основа</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)">
</head>

<body class="body">
    <header class="header">
        <div class="header__wrapper">
            <div class="header-langs header-langs_inner-page">
                <div class="header-langs__lang header-langs__lang_active">EN</div>
                <div class="header-langs__separator">/</div>
                <div class="header-langs__lang">RU</div>
            </div>
            <nav class="header-nav">
                <div class="header-nav__wrapper"><a class="logo" href="/">
                        <div class="logo__img"></div>
                    </a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/services.html">Услуги</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/team.html">Команда</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/projects.html">Проекты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__content main-services">
                <h1 class="title title_h1">наши Услуги</h1>
                <div class="main-services__block">
                    <ul>
                        <li>Выполнение морских сейсмических работ 2D, 3D и обеспечение научно-исследовательских экспедиций</li>
                        <li>Поиск затонувших объектов</li>
                        <li>Выполнение подводных операций на глубинах до 300 м (водолазы, ROV/AUV аппараты)</li>
                        <li>Управление флотом (коммерческая и техническая эксплуатации)</li>
                        <li>Ремонт/модернизация судов, буровых платформ и гидротехнических сооружений</li>
                        <li>Выполнение дноуглубительных работ</li>
                    </ul>
                </div>
                <div class="main-services__block">
                    <ul>
                        <li>Фрахтование судов</li>
                        <li>Предоставление специализированного оборудования для выполнение морских операций и исследований</li>
                        <li>Агентирование</li>
                        <li>Комплексное снабжение флота</li>
                        <li>Организация буксирного обеспечения с нуля в портах</li>
                        <li>Буксировка судов и объектов</li>
                        <li>Организация грузовых операций</li>
                    </ul>
                </div>
                <div class="main-services__block">
                    <ul>
                        <li>Консалтинг в сфере морского транспорта и нефтегазовой отрасли</li>
                        <li>Брокерские услуги</li>
                        <li>Аудит судов по стандартам IMCA, OCIMF, классификационного общества, технический аудит</li>
                        <li>Обзор, идентификация и квалификация поставщиков</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <address class="footer__copyright">ООО «Эксперт-Сервис», 2000-2019</address>
        </div>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/common.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/vendors~polyfills.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/polyfills.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/main.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
</body>

</html>
