src/templates/pages/team.pug
extends ../layout/layoutInnerPage.pug

block content
    .main__wrapper

        section.main__content.main-team

            h1.title.title_h1 Команда

            .main-team__text-block

                span 10 человек
                |– руководители проектов с опытом более 15 лет в сферах: освоение нефти и
                |газа, логистика, судостроение, судоремонт, эксплуатация промышленных объектов,
                |морская сейсмика, морской транспорт, альтернативная энергетика, инвестиционные
                |проекты, оценка экономической эффективности
                br
                span 5 человек
                |– стратегические партнёры и инвесторы
                br
                span > 50 человек
                |– привлекаемый квалифицированный персонал (ИТР)
                br
                span > 500 человек
                |– привлекаемый рабочий персонал

            .main-team__countries-block

                .main-team__countries-item

                    h2.title.title_h2 Зарубежные партнёры в странах:

                    ul
                        li Норвегия
                        li Дания
                        li Финляндия
                        li Швеция
                        li Великобритания
                        li Сингапур
                        li Люксембург
                        li ОАЭ


                .main-team__countries-item

                    h2.title.title_h2 Языки коммуникации и документации:

                    .main-team-langs

                        .main-team-langs__line

                            .main-team-langs__item
                                .main-team-langs__flag.main-team-langs__flag_ru
                                .main-team-langs__text
                                    .main-team-langs__name Русский
                                    .main-team-langs__code ru

                            .main-team-langs__item
                                .main-team-langs__flag.main-team-langs__flag_en
                                .main-team-langs__text
                                    .main-team-langs__name Английский
                                    .main-team-langs__code EN

                        .main-team-langs__line

                            .main-team-langs__item
                                .main-team-langs__flag.main-team-langs__flag_no
                                .main-team-langs__text
                                    .main-team-langs__name Норвежский
                                    .main-team-langs__code NO

                            .main-team-langs__item
                                .main-team-langs__flag.main-team-langs__flag_fr
                                .main-team-langs__text
                                    .main-team-langs__name Французский
                                    .main-team-langs__code FR

    section.team-map(id="ymap")
        .team-map__overlay

block append scripts
    script(defer src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")
    script(defer src='/js/team.js?'  + date)

public/team.html
<!DOCTYPE html>
<html class="html" lang="ru">

<head>
    <title>Основа</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)">
</head>

<body class="body">
    <header class="header">
        <div class="header__wrapper">
            <div class="header-langs header-langs_inner-page">
                <div class="header-langs__lang header-langs__lang_active">EN</div>
                <div class="header-langs__separator">/</div>
                <div class="header-langs__lang">RU</div>
            </div>
            <nav class="header-nav">
                <div class="header-nav__wrapper"><a class="logo" href="/">
                        <div class="logo__img"></div>
                    </a>
                    <ul class="menu menu_level-0">
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/services.html">Услуги</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/team.html">Команда</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/projects.html">Проекты</a></li>
                        <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="/contacts.html">Контакты</a></li>
                    </ul>
                    <div class="header-nav__burger hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__content main-team">
                <h1 class="title title_h1">Команда</h1>
                <div class="main-team__text-block"><span>10 человек</span>– руководители проектов с опытом более 15 лет в сферах: освоение нефти и
                    газа, логистика, судостроение, судоремонт, эксплуатация промышленных объектов,
                    морская сейсмика, морской транспорт, альтернативная энергетика, инвестиционные
                    проекты, оценка экономической эффективности<br><span>5 человек</span>– стратегические партнёры и инвесторы<br><span>> 50 человек</span>– привлекаемый квалифицированный персонал (ИТР)<br><span>> 500 человек</span>– привлекаемый рабочий персонал</div>
                <div class="main-team__countries-block">
                    <div class="main-team__countries-item">
                        <h2 class="title title_h2">Зарубежные партнёры в странах:</h2>
                        <ul>
                            <li>Норвегия</li>
                            <li>Дания</li>
                            <li>Финляндия</li>
                            <li>Швеция</li>
                            <li>Великобритания</li>
                            <li>Сингапур</li>
                            <li>Люксембург</li>
                            <li>ОАЭ</li>
                        </ul>
                    </div>
                    <div class="main-team__countries-item">
                        <h2 class="title title_h2">Языки коммуникации и документации:</h2>
                        <div class="main-team-langs">
                            <div class="main-team-langs__line">
                                <div class="main-team-langs__item">
                                    <div class="main-team-langs__flag main-team-langs__flag_ru"></div>
                                    <div class="main-team-langs__text">
                                        <div class="main-team-langs__name">Русский</div>
                                        <div class="main-team-langs__code">ru</div>
                                    </div>
                                </div>
                                <div class="main-team-langs__item">
                                    <div class="main-team-langs__flag main-team-langs__flag_en"></div>
                                    <div class="main-team-langs__text">
                                        <div class="main-team-langs__name">Английский</div>
                                        <div class="main-team-langs__code">EN</div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-team-langs__line">
                                <div class="main-team-langs__item">
                                    <div class="main-team-langs__flag main-team-langs__flag_no"></div>
                                    <div class="main-team-langs__text">
                                        <div class="main-team-langs__name">Норвежский</div>
                                        <div class="main-team-langs__code">NO</div>
                                    </div>
                                </div>
                                <div class="main-team-langs__item">
                                    <div class="main-team-langs__flag main-team-langs__flag_fr"></div>
                                    <div class="main-team-langs__text">
                                        <div class="main-team-langs__name">Французский</div>
                                        <div class="main-team-langs__code">FR</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="team-map" id="ymap">
            <div class="team-map__overlay"></div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <address class="footer__copyright">ООО «Эксперт-Сервис», 2000-2019</address>
        </div>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script defer src="/js/common.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/vendors~polyfills.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/polyfills.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script src="/js/main.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
    <script defer src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&amp;lang=ru_RU" type="text/javascript"></script>
    <script defer src="/js/team.js?Fri Nov 29 2019 14:34:42 GMT+0300 (Moscow Standard Time)"></script>
</body>

</html>
